html,
body {
  height: 100%;
  background-color: antiquewhite;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.img{
    margin-left: 90px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border: 5px solid black;
    border-radius: 10px;
}